#logout {
	background: #333;
	color: #eaecee;
}
.well{
    background: rgba(250, 250, 250, 1);
}

textarea {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    resize: none
}
