<div class="panel panel-default">
  <div class="panel-heading">
    {{ type }}
    <button class="close pull-right" style="line-height: 20px;" ng-click="surveyBuilder.deleteBlock(path)">
      &times;
    </button>
  </div>
  <ul class="list-group">
    <li class="list-group-item" ng-repeat="value in surveyBuilder.getValueAtPath(path)[type]">
      <div ng-if="!(_.isArray(value))">
        <!-- These are either logical ("and", "or") or arithmetic ("==", "<", ...) statements -->
        <logical-block ng-if="_.includes(LOGICAL_OPERATORS, surveyBuilder.getOperatorType(value))"
                       path="{{ getNewPath($index) }}" survey-builder="surveyBuilder"></logical-block>
        <conditional-block ng-if="_.includes(ARITHMETIC_OPERATORS, surveyBuilder.getOperatorType(value))"
                           path="{{ getNewPath($index) }}" survey-builder="surveyBuilder"></conditional-block>
      </div>
    </li>
    <li class="list-group-item">
      <add-logic-buttons new-path="{{ getNewPath() }}" survey-builder="surveyBuilder"></add-logic-buttons>
    </li>
  </ul>
</div>
