.pydevproject
*.pyc
*~
.settings
._project_architecture.txt
.DS_Store
.project
*.pem
.mongodb
.idea/
logs*
download/download_script_credentials.py
server_configuration/apache config.txt
db/mongolia_setup.py

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
