boto==2.48.0
boto3==1.4.8
cronutils>=0.1.9
# Django==1.11.5
mongobackup==0.2.2
mongolia==0.6.0
Flask==0.12.2
ipython==5.4.1
pbkdf2==1.3
pycrypto==2.6.1
python-dateutil==2.6.1
raven[flask]==6.1.0
Werkzeug==0.12.2

# Keep this one up to date
pytz
