commands:
  01_setup_swap:
    ignoreErrors: true
    command: fallocate -l 5G /swapfile && chmod 600 /swapfile && mkswap /swapfile && swapon /swapfile && swapon -s
  02_yum_installs_could_not_get_packages_to_work:
    command: yum -y install htop ack python-devel postgresql-devel


container_commands:
  01_add_global_wsgi_application_group:
    command: if ! grep -q 'WSGIApplicationGroup %{GLOBAL}' ../wsgi.conf ; then echo 'WSGIApplicationGroup %{GLOBAL}' >> ../wsgi.conf; fi;
  02_update_pip:
    command: pip install --upgrade pip
  03_install_requirements:
    command: pip install --requirement Requirements.txt
  04_migrate:
    leader_only: true
    command: python manage.py migrate
  05_setup_profile:
    command: mv ./cluster_management/pushed_files/eb_profile.sh /home/ec2-user/.bashrc; chmod 644 /home/ec2-user/.bashrc; chown ec2-user /home/ec2-user/.bashrc; chgrp ec2-user /home/ec2-user/.bashrc
  06_setup reasonable_inputrc:
    command: mv ./cluster_management/pushed_files/.inputrc /home/ec2-user/.inputrc; chmod 664 /home/ec2-user/.inputrc; chown ec2-user /home/ec2-user/.inputrc; chgrp ec2-user /home/ec2-user/.inputrc

option_settings:
  aws:elasticbeanstalk:container:python:staticfiles:
    /static/: frontend/static/
  aws:elasticbeanstalk:container:python:
    WSGIPath: wsgi.py
    NumProcesses: 2
    NumThreads: 20


# uncomment this section to force SSL connections
#files:
#"/etc/httpd/conf.d/ssl_rewrite.conf":
#    mode: "000644"
#    owner: root
#    group: root
#    content: |
#        RewriteEngine On
#        <If "-n '%{HTTP:X-Forwarded-Proto}' && %{HTTP:X-Forwarded-Proto} != 'https'">
#        RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R,L]
#        </If>