container_commands:  
  01add_global_wsgi_application_group:
    command: if ! grep -q 'WSGIApplicationGroup %{GLOBAL}' ../wsgi.conf ; then echo 'WSGIApplicationGroup %{GLOBAL}' >> ../wsgi.conf; fi;
  02install_requirements:
    command: pip install --requirement Requirements.txt
  03configure_swap:
    command: swapoff -a; rm -f /swapfile; fallocate -l 5G /swapfile; chmod 600 /swapfile; mkswap /swapfile; swapon /swapfile; swapon -s;

option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: wsgi.py
    NumProcesses: 2
    NumThreads: 20

  aws:elasticbeanstalk:container:python:staticfiles:
    /static/: frontend/static/

files:
    "/etc/httpd/conf.d/ssl_rewrite.conf":
        mode: "000644"
        owner: root
        group: root
        content: |
            RewriteEngine On
            <If "-n '%{HTTP:X-Forwarded-Proto}' && %{HTTP:X-Forwarded-Proto} != 'https'">
            RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R,L]
            </If>