packages:
  yum:
    python-devel: []
    postgresql-devel: []


container_commands:
  01add_global_wsgi_application_group:
    command: if ! grep -q 'WSGIApplicationGroup %{GLOBAL}' ../wsgi.conf ; then echo 'WSGIApplicationGroup %{GLOBAL}' >> ../wsgi.conf; fi;
  02update_pip:
    command: pip install --upgrade pip
  03install_requirements:
    command: pip install --requirement Requirements.txt
  04migrate:
    leader_only: true
    command: python manage.py migrate
  05configure_swap:
    # If the swapfile is not already busy, create it
    command: sudo fallocate -l 5G /swapfile && sudo chmod 600 /swapfile && sudo mkswap /swapfile && sudo swapon /swapfile && sudo swapon -s
    ignoreErrors: true

#option_settings:
#  aws:elasticbeanstalk:container:python:
#    WSGIPath: wsgi.py
#    NumProcesses: 2
#    NumThreads: 20

  aws:elasticbeanstalk:container:python:staticfiles:
    /static/: frontend/static/

#files:
#    "/etc/httpd/conf.d/ssl_rewrite.conf":
#        mode: "000644"
#        owner: root
#        group: root
#        content: |
#            RewriteEngine On
#            <If "-n '%{HTTP:X-Forwarded-Proto}' && %{HTTP:X-Forwarded-Proto} != 'https'">
#            RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R,L]
#            </If>