# TODO: Eli. update this description for mongo passwords.

# Create a "passwords.py" file, put it only on your production server right next to
# this secure.py.example file and name it "passwords.py"
# Add to this file the lines of like the one at the end of this file.

# Store your password.  Do so somewhere that is secure, and in a way that will
# be accessible to you in the future.

# IF YOU LOSE YOUR PASSWORD YOU WILL NOT BE ABLE TO ACCESS DATA!
# The password must be exactly 32 characters long (256 bits)!
# Do not use the example key provided in any production environment!

# We STRONGLY recommend using a cryptographically secure random number generator
# to generate your password, this should NOT be a human-friendly password.

PASSWORD = "abcdefghijklmnopqrstuvwxyz012345"

MONGO_USERNAME = "scrubs"
MONGO_PASSWORD = "scrubs_very_secure_password"
MONGO_SECRET_KEY = '\xb7BdD<\x11\x80\xe9\x01\xdb\x19\xba\xff\xa5&\xef8\x13\xfb\xa8vA\x190'
