<div>
  <button class="btn btn-info add-logic-button" ng-click="surveyBuilder.addNotBlock(newPath)">
    Add "NOT" Block
  </button>
  <button class="btn btn-info add-logic-button" ng-click="surveyBuilder.addOrBlock(newPath)">
    Add "OR" Block
  </button>
  <button class="btn btn-info add-logic-button" ng-click="surveyBuilder.addAndBlock(newPath)">
    Add "AND" Block
  </button>
  <button class="btn btn-info add-logic-button" ng-click="surveyBuilder.addConditionalBlock(newPath)" title="&gt;, &lt;, ==, etc.">
    Add Conditional
  </button>
  <!-- Uncomment this code for debugging -->
  <!--<span style="color: #eaeaea; font-size: 12px; line-height: 12px;">var newPath = '{{ newPath }}';</span>-->
  <!-- /Uncomment this code for debugging -->
</div>
