{%extends 'base.html'%}


{%block class%}fivehundred{%endblock%}
{%block title%}500{%endblock%}

{%block content%}
<div class="box grey">
    <div class="container">
    </br></br>
    <div class="span4">
    <h2 style='text-align:center; color:#0088cc'>Whoops.</h2>
    <h3 class='plain' style='color:#0088cc; text-align:center;'>Looks like something broke. Don't panic. Contact eng@zagaran.com.</h4>
    <h3 style='text-align:center; margin-top:4px; color:#0088cc' class='plain'>(500) Error</h4>
    </div>
    </div>
</div>
<div class="box lightgrey cracked"></div>
<div class="box grey"></div>
<div class="box lightgrey"></div>
<div class="box grey cracked cracked2" ></div>
<div class="box lightgrey"></div>
{%endblock%}