{% extends "base.html" %}

{% block title %}Log In{% endblock %}

{% block navbar %}{% endblock %}

{% block content %}

    <div class="container">
      <br><br>
      <div class="span4">
        <h3>Log In</h3>
        <form method="POST" action="/validate_login">
          <input name="username" type="text" placeholder="Username" autofocus/>
          <input name="password" type="password"  placeholder="Password" />
          <input type="submit" name="submit" value="Log in" class="btn btn-large btn-success">
        </form>
      </div>
      {# Informational text from the old Beiwe website #}
      {#<div class="row">
        <hr>
        <h2>Welcome to the Beiwe App Website</h2>
        <p>Beiwe is a smartphone application that functions as a data collection platform. Unlike the large majority of commercially available applications, Beiwe is intended for biomedical research. Our primary activity in this area is the development of statistical learning methods and software for analyzing and modeling data collected from Beiwe. Our initial application areas of digital phenotyping are psychiatric and neurodegenerative disorders, where we aim to generate new outcome measures and social and behavioral biomarkers that can be used in diagnostication and monitoring of these disorders. Our work in Digital Phenotyping is primarily supported by an NIH Director’s New Innovator Award made to Dr. Onnela. Here is the HSPH <a href="http://www.hsph.harvard.edu/news/features/jp-onnela-wins-nih-directors-new-innovator-award/">Press Release</a>.</p>
        <p>Progress in medical science has always been driven by high quality data. A longstanding barrier to progress, both in clinical settings and research trials, has been the fundamental difficulty of accurately measuring the human phenotype, including but not limited to physical mobility, gross motor activity, speech production, behavioral patterns, and social engagement. Smartphones are now ubiquitous and can be harnessed to offer medicine a wealth of data on the human phenotype. Subjects can be instrumented using dedicated scientific apps that generate continuous streams of behavioral data. This approach has enormous potential, but data alone are not enough: the data need to be coupled with appropriate statistical learning tools in order to fully leverage their potential. Only then can these data be transformed into clinically valid and useful information, the kind of information that can transform research and discovery and, ultimately, patient health.</p>
        <p>We have coined the term <b>digital phenotyping</b> to refer to the <i>moment-by-moment quantification of the individual-level human phenotype, in situ, using data from digital devices</i>. It is enabled by the combination of rich behavioral data from personal digital devices and appropriate statistical learning methods. Human behavior is also context specific, which is why we believe characterizing behavior <i>in situ</i>–life as lived and experienced by people in their everyday surroundings–is critical. Our understanding of the human genotype has been revolutionized in the past two decades, but there are at present many areas of medicine where some of the most important challenges lie in characterizing the associated human phenotype. This is where Digital Phenotyping comes in.</p>
      </div>#}
    </div>

{% endblock %}