<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title> Zagaran Mobile Data Collection System for HSPH</title>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css"  type="text/css"/>
</head>

<body>
<div class="container">
    <div class="jumbotron">
        <h2>Zagaran Mobile Data Collection System for HSPH</h2>
        <p>Welcome to the Zagaran Smartphone Data Collection System for HSPH system. Manage your system here.</p>
        <div align='right'><a href="/logout" class="btn btn-large btn-inverse">Log out</a></div>
    </div>
    <div class="span12">
        <div class="row">
            <h3>Users</h3>
        </div>
        <div class="list-group">
            {% for c in users %}
            <h4><a href="/user/{{c._id}}" class="list-group-item">{{c._id}}</a></h4>
            {% endfor %}
        </div>
        </br></br>
        <div class="row">
            <h3>Question Surveys</h3>
        </div>
        <div class="list-group">
            {% for c in surveys %}
            <h4><a href="/survey/{{c._id}}" class="list-group-item">{{c._id}}</a></h4>
            {% endfor %}
        </div>
        <form class="form-inline" method="POST" action="/create_new_survey" name="create_new_survey" accept-charset="utf-8">
            <input type="text" class="input-large" name="cohort_name" type="text" placeholder="Enter new survey name here..."/>
            <button type="submit" class="btn btn-success">Create New Survey</button>
        </form>
        </br></br>
        <div class="row">
            <h3>Voice Recording Prompts</h3>
        </div>
        <div class="list-group">
            {% for c in voice_prompts %}
            <h4><a href="/voice/{{c._id}}" class="list-group-item">{{c._id}}</a></h4>
            {% endfor %}
        </div>
        <form class="form-inline" method="POST" action="/create_voice_prompt" name="create_voice_prompt" accept-charset="utf-8">
            <input type="text" class="input-large" name="cohort_name" type="text" placeholder="Enter new voice prompt name here..."/>
            <button type="submit" class="btn btn-success">Create Voice Prompt</button>
        </form>
    </div>
</div>
<footer class="section">
    <div class="container">
        <h5 style='text-align:center'><strong>Contact:</strong> <a href="mailto:eng@zagaran.com">eng@zagaran.com</a></h5>
        <p style='text-align:center' class="row center">&copy; 2014 Zagaran Software, Inc.</p>
    </div>
</footer>
</body>
</html>
