{% extends "base.html" %}

{% block title %}Log In{% endblock %}

{# TOOD: make this page not include the navigation block #}

{% block content %}

    <div class="container">
      <br><br>
      <div class="span4">
        <h3>Log In</h3>
        <form method="POST" action="/validate_login">
          <input name="username" type="text" placeholder="Username" />
          <input name="password" type="password"  placeholder="Password" />
          <input type="submit" name="submit" value="Log in" class="btn btn-large btn-success">
        </form>
      </div>
    </div>

{% endblock %}