{% extends "base.html" %}

{% block title %}Choose Study{% endblock %}

{% block content %}
    {# If this admin is authorized to view studies, list the studies #}
    {% if allowed_studies %}
        <h4>You are authorized to view and edit multiple studies.  Please choose one:</h4>
        <br>
        <div class="list-group">
            {% for study in allowed_studies %}
                <h4><a href="/view_study/{{ study._id }}" class="list-group-item">{{ study.name }}</a></h4>
            {% endfor %}
        </div>

    {# If this admin is not authorized to view any studies, show an error message #}
    {% else %}
        <h4>You are not authorized to view or edit any studies.  Please contact the administrator and ask to be added to a study!</h4>
    {% endif %}
{% endblock %}