{% extends "base.html" %}

{% block title %}Download Pipeline Data{% endblock %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="/static/css/libraries/bootstrap-datetimepicker.css"  type="text/css"/>
  <script type="text/javascript" src="../static/javascript/libraries/moment.js"></script>
  <script type="text/javascript" src="../static/javascript/libraries/transition.js"></script>
  <script type="text/javascript" src="../static/javascript/libraries/collapse.js"></script>
  <script type="text/javascript" src="../static/javascript/libraries/bootstrap-datetimepicker.js"></script>
  <script type="text/javascript" src="../static/javascript/data_download_page.js"></script>
  <script type="text/javascript">
    {#var users_by_study = '{{ users_by_study|tojson }}';#}
  </script>
{% endblock %}

{% block content %}

  <div class="container">
    <br><br>
    <div class="row well">
      <form action="/get-pipeline/v1" method="POST" id="data_download_parameters_form">

        {# Access Key #}
        <div class="form-group">
          <label for="access_key">Access Key</label>
          <input type="text" name="access_key" id="access_key" class="form-control" placeholder="Paste your unique Access Key here" required>
        </div>

        {# Secret Key #}
        <div class="form-group">
          <label for="secret_key">Secret Key</label>
          <input type="text" name="secret_key" id="secret_key" class="form-control" placeholder="Paste your unique Secret Key here" required>
        </div>

        <br>

        {# Data Selectors #}
        {# Study ID #}
        <div class="form-group">
          <label for="study_selector">Study</label>
          <select class="form-control" name="study_id" id="study_selector">
            {% for study in downloadable_studies %}
              <option value="{{ study._id }}">{{ study.name }}</option>
            {% endfor %}
          </select>
        </div>

        {# Data Stream Selector #}
        <div class="form-group">
          <label for="data_stream_selector">tags</label>
          <select class="form-control" name="tags" id="data_stream_selector" size=25 multiple>
            {% for tag in tags %}
              <option>{{ tag }}</option>
            {% endfor %}
          </select>
        </div>
        <br><br>

        <div class="row">
          <div class="col-sm-2">
            <input type="submit" class="btn btn-success" value="Download Data" id="download_submit_button">
          </div>
          <div class="col-sm-10">
            <p id="explanation_paragraph" hidden><b>It may take several minutes to compile your data and download it as a .zip file. Do not click "Reload" or "Back" until your data finishes downloading. Once your data file downloads, you must reload this page before you can download another datafile.</b></p>
          </div>
        </div>

      </form>
    </div>


  </div>


{% endblock %}