{% extends "base.html" %}

{% block title %} Download Page{% endblock %}

{% block content %}

  <div class="row">
    <h2>Download Page</h2>
  </div>

  <br>

  <h4> Click the following link to download the most up-to-date version of the Beiwe app. </h4>
  <a href="/download" class="btn">Download Beiwe App</a>
  You can also enter studies.beiwe.org/download directly into the browser of any device running the Android OS.

  <h4> Click the following to download the Study Debugger version of the Beiwe app. </h4>
  <a href="/download_debug" class="btn">Download Debugger App </a>
  You must be logged in to download the Study Debugger app.
  <br><br>

  <h2> Beiwe Betas </h2>
  <p>The Beta versions of the Beiwe and Study Debugger apps are in-development and may change without warning.  They may contain updates and bug-fixes, or they may contain unfinished or undocumented features.  Make sure to read the description belov of how the current beta differs from the production version, and what features in the app will require testing. </p>

  <p>If you encounter a problem with the app or a message stating that Beiwe has stopped working, please send us a bug report.  Remember to include the version of the app you were using (Beta or Production, Study Debugger or Regular), the date you downloaded the app on, the version of Android OS on the device, and the full model name of the device you were using in addition to a description of your activity before the problem or crash occurred. </p>

  <h3> Beta Status: </h3>
  <p> The current version of the Beiwe Betas are identical to the production version.  The following features are currently in development: </p>

  <p>&nbsp &nbsp Randomized surveys - randomized surveys are functional, but have not been thoroughly tested.</p>
  <br>
  <h4> Click the following to download the BETA version of the Beiwe app. </h4>
  <a href="/download_beta" class="btn">Download Beiwe Beta </a>

  <h4> Click the following to download the BETA version of the Study Debugger app. </h4>
  <a href="/download_beta_debug" class="btn">Download Study Debugger Beta </a>

</div>

{% endblock %}