{% extends "base.html" %}

{% block title %} Download Page{% endblock %}

{% block content %}
  <div class="container">
    <h2>Downloads </h2>
    <div class="well">
      <div class="row">
        <div class="col-xs-12">
          <a href="/download" class="btn btn-primary btn-block"> <b>Download The Beiwe App</b></a>
          <div class="text-center">
            You can also enter <b>studies.beiwe.org/download</b> directly into the browser of any device running the Android OS.
          </div>
        </div>
      </div>


      <h3> The Study Debugger </h3>
      The Study Debugger is a special version of the Beiwe App that includes several useful features for debugging and testing your surveys.  You must be logged in to download the Study Debugger.
      <div class="row">
        <div class="col-xs-12">
          <a href="/download_debug" class="btn btn-primary btn-block">Download Study Debugger </a>
        </div>
      </div>
    </div>

    <div class="well">
      If you encounter a problem with the app or a message stating that Beiwe has stopped working, please send the Beiwe Administrators a bug report.  Remember to include the version of the app you were using (Beta or Production, Study Debugger or Regular), the date you downloaded the app on, the version of Android OS on the device, and the full model name of the device you were using in addition to a description of your activity before the problem or crash occurred.
    </div>

    <h2> Data API Status </h2>
    <div class="well">
      <p><b> In the event of planned downtime there will be a notice here stating when the Data Access API and download page will be unavailable. </b> </p>
      {# <p> There is downtime planned starting the evening of Friday March 4th and continuing until data processing tasks are completed. Expected downtime is a limited to a few hours. </p> #}
    </div>


    <h2> Beiwe Betas </h2>
    <div class="well">
      The Beta versions of the Beiwe and Study Debugger apps are in-development and may change without warning.  They may contain updates and bug-fixes, or they may contain unfinished or undocumented features.  Make sure to read the description below of how the current beta differs from the production version, and what features in the app will require testing.
    </div>

    <h3> Beta Status: </h3>
      <div class="well">
    {# this text is going to change whenever we upload a new version of the app, keep it simple #}
      {# <p><b> There is currently no Beta version of the Beiwe app. </b> </p>  #}
    
      <b>The following features and bugfixes are ready for testing: </b>
      <p> • Feature: additional device-identifier fields are included at device registration.</p>
      <p> • Bug Fix: a change in Android 5.1 to MMS/SMS caused the Beiwe app to unpredictably crash, this has been fixed. </p>
      <p> • Feature: The Beiwe app now has a built-in crash reporting capability. All crashes are logged and sent to the developers the next time the app uploads files. <br>
          Note: the Beiwe app no longer reports to the user that it has stopped working, instead the app automatically restarts itself. The Beiwe service should always be visible in your device's running services list. </p>
      <p> • Known Issue: due to an implementation detail on the server you may lose device identifier information if you register/re-register using the beta version of the app, and then re-register using the current production version of app, all with the same user.  The best way to avoid this issue is to create new users that will only run this beta and future versions of the app. </p>
       
    </div>
      <div class="row">
        <div class="col-xs-12">
          <a href="/download_beta" class="btn btn-primary btn-block">Download the BETA version of the Beiwe app </a>
          <div class="text-center">
            You must be logged in to download either of the Beta apps.
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <a href="/download_beta_debug" class="btn btn-primary btn-block">Download the BETA version of the Study Debugger </a>
        </div>
      </div>
      {# #}
    </div>

    <h3> Changelog: </h3>
    <div class="well">
      <p>11/30/15 - (Beiwe Android App version 1) Added additional data fields to the device information gathered at user registration, additionally added version numbers to that data. </p>
      <p>10/8/15 - Bug fix: fixed issue where the device would fail to record GPS and Accelerometer data until the Beiwe service was reset.</p>
      <p>10/8/15 - Scheduling logic for GPS, Accelerometer, and Wifi has been made more aggressive, especially when recovering from situations where the device is blocked from recording data streams. </p>
      <p> 9/23/15 - Feature: the Beiwe app is now compatible with the Randomize Survey Questions feature.</p>
    </div>

  </div>

{% endblock %}