{% extends "base.html" %}

{% block title %}Edit Study {{ study.name }}{% endblock %}

{% block content %}

    <div class="row">
        <h3>{{ study.name }}</h3>
    </div>

    <br>

    <div class="col-md-6">
        <div class="row">
            <h4>Authorized researchers on this study</h4>
            <div class="list-group">
                {% if not study.admins %}
                    <p><i>No researchers are authorized to view or edit this study.</i></p>
                {% endif %}

                {% for admin in study.admins|sort(case_sensitive=False) %}
                    <div class="list-group-item">
                        <b>{{ admin }}</b>
                        <a href="#" onclick="remove_admin_from_study('{{ admin }}', '{{ study._id }}');return false;" class="pull-right remove_admin_from_study_button">remove authorization</a>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="row">
            <h5>Authorize an additional researcher on this study:</h5>

            <div class="col-md-8">
                <select class="form-control" id="admin_id">
                    {% for admin in all_admins %}
                    <option value="{{ admin._id }}">{{ admin._id }}</option>
                    {% endfor %}
                </select>
                <input type="hidden" id="study_id" value="{{ study._id }}">
            </div>

            <div class="col-md-4">
                <button onclick="add_admin_to_study()" class="btn btn-info add_admin_to_study_button">Add researcher to study</button>
            </div>
        </div>

        <br><br><br><br>

        <div class="row">
            <a href="/device_settings/{{ study._id }}" class="btn btn-warning">Edit study's device settings</a>

            <a class="btn btn-danger pull-right" onclick="confirm_delete_study('{{ study.name|replace("'", "")|replace('"', "") }}', '{{ study._id }}')">
            <span class="glyphicon glyphicon-trash"></span>Delete study</a>
        </div>

        <br><br><br><br>

        <div class="row">
            <a href="/manage_studies" class="btn btn-success"><span class="glyphicon glyphicon-arrow-left"></span>&nbsp;Back to all studies</a>
        </div>


    </div>

{% endblock %}