{% extends "base.html" %}

{% block title %}Edit Survey{% endblock %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="/static/css/survey_builder.css"  type="text/css"/>
  <style>
    @media (min-width: 768px) {
      .modal-dialog {
        width: 80%;
      }
    }
    .faded {
      opacity: 0.3;
    }
  </style>
{% endblock %}

{% block body_attributes %}ng-app="surveyBuilder" ng-controller="SurveyBuilderCtrl as surveyBuilder"{% endblock %}

{% block javascript %}
  <script src="/static/javascript/libraries/lodash.min.js"></script>
  <script type="text/javascript">
    var raw_questions = '{{ survey.content|tojson }}';
    var questions = angular.fromJson(raw_questions.replace(/\n/g, "\\n").replace(/\t/g, "\\t").replace(/\\"/, "g"));
    var survey_id = '{{ survey._id }}';
    var survey_times = {{ survey.timings }};
    var randomize = {{ "true" if survey.settings["randomize"] else "false" }};
    var randomizeWithMemory = {{ "true" if survey.settings["randomize_with_memory"] else "false" }};
    var numberOfRandomQuestions = {{ survey.settings["number_of_random_questions"] or "null" }};
    var tracking_survey = {{ "true" if survey.survey_type == "tracking_survey" else "false" }};
  </script>
  <script src="/static/javascript/survey-editor/schedule.js"></script>
  <script src="/static/javascript/survey-editor/survey-editor.js"></script>
  <script src="/static/javascript/app/app.module.js"></script>
  <script src="/static/javascript/app/survey-builder/constants.js"></script>
  <script src="/static/javascript/app/survey-builder/services.js"></script>
  <script src="/static/javascript/app/survey-builder/directives/tooltip/tooltip.js"></script>
  <script src="/static/javascript/app/survey-builder/directives/add-logic-buttons/add-logic-buttons.js"></script>
  <script src="/static/javascript/app/survey-builder/directives/conditional-block/conditional-block.js"></script>
  <script src="/static/javascript/app/survey-builder/directives/logical-block/logical-block.js"></script>
  <script src="/static/javascript/app/survey-builder/directives/edit-question/edit-question.js"></script>
  <script src="/static/javascript/app/survey-builder/directives/question-summary/question-summary.js"></script>
  <script src="/static/javascript/app/survey-builder/controllers/survey-builder-controller.js"></script>
{% endblock %}

{% block content %}

  <ol class="breadcrumb">
    <li>
      <a href="/view_study/{{ study['_id'] }}">{{ study['name'] }}</a>
    </li>
    <li class="active">
      {{ "Audio" if survey['survey_type'] == 'audio_survey' }} Survey ID #{{ survey['_id'] }}
    </li>
  </ol>

  <div class="container">
    <div class="span12">
      <div class="row">
        <h2>Edit Survey</h2>
        <p>Survey ID #<b>{{ survey._id }}</b>. Your changes will not be saved until you click "Save and Deploy."</p>
        <button type="submit" class="btn btn-success btn-lg save_and_deploy_button" onclick="end(); return false;">
          <span class="glyphicon glyphicon-upload"></span>Save & Deploy
        </button>
      </div>
    
      <hr>
    
      {% include 'survey_schedule.html' %}
    
      <div id="surveySchedule"></div>
    
      <hr>

      {% if survey.survey_type == 'tracking_survey' %}
      <div class="row">
        <h3>Questions</h3>
        <question-summary></question-summary>
        <br>
        <br>
        <button type="button" class="btn btn-info btn-lg" ng-click="surveyBuilder.resetQuestionModal();">
          <span class="glyphicon glyphicon-plus"></span>Add Question
        </button>
        <br>
        <br>
        <div class="checkbox">
          <label>
            <input type="checkbox" name="randomize" id="randomize" ng-model="surveyBuilder.randomize">
            <b>Randomize</b> which questions are displayed each time the participant takes a survey. This also randomizes the order in which the questions are displayed. It also causes the survey to ignore all question display logic so that all questions have an equal chance of appearing.
          </label>
        </div>
        <div ng-if="surveyBuilder.randomize">
          <div class="checkbox">
            <label>
              <input type="checkbox" name="randomize_with_memory" id="randomize_with_memory"
                     ng-model="surveyBuilder.randomizeWithMemory">
              <b>Randomize without replacement</b>, i.e., on each survey, only display questions that haven't appeared
              yet on a previous survey, until all questions have appeared in a survey, and then start over
            </label>
          </div>
          <div class="form-group form-inline">
            <input type="number" name="number_of_random_questions" id="number_of_random_questions" class="form-control" ng-model="surveyBuilder.numberOfRandomQuestions">
            <b>How many questions</b> are displayed in each survey, out of the <b>{% raw %}{{ surveyBuilder.questions.length }}{% endraw %} questions currently</b> in the question bank for this survey
          </div>
        </div>
      </div>

      {% elif survey.survey_type == 'audio_survey' %}
      <div class="row">
        <h3>Voice Recording Prompt</h3>
        <input id="voice_recording_prompt_text_input" type="text" class="form-control"
               value="{% if survey.content[0] %}{{survey.content[0]['prompt']}}{% endif %}">
      </div>
      <hr>
      <div class="row">
        <h3>Technical Settings</h3>
        <div class="well well-sm">
          <p>Audio recordings contain a single channel and are made using the active microphone on the device, which may may be on a connected headset.  Older versions of the Beiwe App will make compressed recordings at 64Kbps.</p>

          <p><b>Compressed</b> audio files use AAC compression. 64Kbps should be sufficient for a vocal recording under nearly all situations, and produces roughly <b>one half of a megabyte </b> of data for each minute of audio. The sample rate of a compressed recording is always 44,100Hz. </p>

          <p><b>Uncompressed</b> audio recordings produce wav files. A wav file with a sample rate of 44,100 ("CD quality") has a bit rate equivalence of 706Kbps, or roughly <b>five megabytes</b> of data for each minute of audio.</p>
          </div>

        <input type="radio" name="audio_survey_type" id="radio_compressed" value="compressed"
               onclick="audioSurveyTypeChange('compressed')" {{ 'checked' if survey.settings['audio_survey_type'] == 'compressed' }}>
        <label for="radio_compressed"> Compressed audio&nbsp;&nbsp;&nbsp; </label>
        
        <input type="radio" name="audio_survey_type" value="raw" id="radio_uncompressed"
               onclick="audioSurveyTypeChange('raw')"  {{ 'checked' if survey.settings['audio_survey_type'] == 'raw' }} > 
        <label for="radio_uncompressed"> Uncompressed audio&nbsp;&nbsp;&nbsp; </label>
        
        <select id="compressed_options" name="bit_rate" >
          <option value="32000" {{ 'selected' if survey.settings['bit_rate'] == 32000 }}>32Kbps</option>
          <option value="64000" {{ 'selected' if survey.settings['bit_rate'] == 64000 or not survey.settings['bit_rate'] }}>64Kbps</option>
          <option value="96000" {{ 'selected' if survey.settings['bit_rate'] == 96000 }}>96Kbps</option>
          <option value="128000" {{ 'selected' if survey.settings['bit_rate'] == 128000 }}>128Kbps</option>
        </select>

        <select id="raw_options" name="sample_rate" >
          <option value="16000" {{ 'selected' if survey.settings['sample_rate'] == 16000 }}>16,000Hz</option>
          <option value="22050" {{ 'selected' if survey.settings['sample_rate'] == 22050 }}>22,050Hz</option>
          <option value="44100" {{ 'selected' if survey.settings['sample_rate'] == 44100 or not survey.settings['sample_rate'] }}>44,100Hz</option>      
        </select>
      </div>
      
      {% endif %}

      <hr><br>
    
      <div class="row">
        <button type="submit" class="btn btn-success btn-lg save_and_deploy_button" onclick="end(); return false;">
        <span class="glyphicon glyphicon-upload"></span>Save & Deploy
        </button>
        <a class="btn btn-lg btn-danger pull-right" href="/delete_survey/{{ survey._id }}" onclick="return confirm('Are you sure you want to delete this survey? The survey questions will be lost forever, and if you want them back, you will have to re-create the survey from scratch. Also, people in the study will no longer get notifications for this survey or be able to answer it.')">
        <span class="glyphicon glyphicon-trash"></span>Delete survey</a>
      </div>
      <br>
      <div ng-if="surveyBuilder.errors" class="row alert alert-danger">
        <h4>Errors:</h4>
        <ul>
          <li ng-repeat="error in surveyBuilder.formatErrors(surveyBuilder.errors)">
            {% raw %}{{ error }}{% endraw %}
          </li>
        </ul>
      </div>

    </div>
  </div>
{% endblock %}