{% extends "base.html" %}

{% block title %}Edit Survey{% endblock %}

{% block head %}
    {{ super() }}
    <script type="text/javascript">
        var survey_id = '{{ survey._id }}';
        var survey_content = {{ survey.content|tojson }};
    </script>
    <script src="../static/javascript/survey-editor/handlebars-question-rendering.js"></script>
    <script src="../static/javascript/survey-editor/radiobutton-checkbox-questions.js"></script>
    <script src="../static/javascript/survey-editor/set-up-modal.js"></script>
    <script src="../static/javascript/survey-editor/question-from-modal.js"></script>
    <script src="../static/javascript/survey-editor/survey-editor.js"></script>
    <link rel="stylesheet" href="../static/css/survey_builder.css"  type="text/css"/>
{% endblock %}

{% block content %}


    <div class="container">

      <div class="span12">
        <div class="row">
          <h1>Survey {{ survey._id }}</h1>
        </div>

        <div class="form-inline bootstrap-timepicker timepicker">
          <input type="text" class="form-control schedule-timepicker">
          <i class="glyphicon glyphicon-time"></i>
        </div>

        <form name="survey">
          Schedule Deployment Time:
          <select id="hour" name="hour">
            {% for i in range(1, 13) %}
              <option value={{ i }}>{{ i }}:00</option>
            {% endfor %}
          </select>
          <select id="ampm" name="ampm">
            <option value="am">AM</option>
            <option value="pm">PM</option>
          </select>
          {% if (daily_or_weekly == 'weekly') %}
            <select id="day" name="day">
              <option value=1>Monday</option>
              <option value=2>Tuesday</option>
              <option value=3>Wednesday</option>
              <option value=4>Thursday</option>
              <option value=5>Friday</option>
              <option value=6>Saturday</option>
              <option value=0>Sunday</option>
            </select>
          {% endif %}
          <br>

          <br><br>
          {% include 'question_summary.html' %}
          <div id="listOfCurrentQuestions"></div>

          <br>
          <div id="newQuestions">
          </div>
          <br>
          <div class="row">
            <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#editQuestionModal" onclick="clearModal(); return false;">
            <span class="glyphicon glyphicon-plus"></span>Add Question
            </button>
          </div>
          <br>
          <div class="row">
            <button type="submit" class="btn btn-success btn-lg" onclick="end(); return false;">
            <span class="glyphicon glyphicon-upload"></span>Save & Deploy
            </button>

            <a class="btn btn-lg btn-danger pull-right" href="/delete_survey/{{ survey._id }}" onclick="return confirm('Are you sure you want to delete this survey? It will be lost forever, and if you want it back, you will have to re-create it from scratch.')">
            <span class="glyphicon glyphicon-trash"></span>Delete survey</a>
          </div>
        </form>
      </div>
    </div>

    {% include 'edit_question.html' %}

{% endblock %}