{% extends "base.html" %}

{% block title %}Edit Study {{ study.name }}{% endblock %}

{% block content %}

    <ol class="breadcrumb">
        <li>
            <a href="/manage_studies">Manage Studies</a>
        </li>
        <li class="active">
            {{ study.name }}
        </li>
    </ol>

    <div class="col-md-12">
        <div class="row">
            <h2>Authorized researchers on this study</h2>
            <div class="list-group">
                {% if not study.admins %}
                    <p><i>No researchers are authorized to view or edit this study.</i></p>
                {% endif %}

                {% for admin in study.admins|sort(case_sensitive=False) %}
                    <div class="list-group-item">
                        <b>{{ admin }}</b>
                        <a href="#" onclick="remove_admin_from_study('{{ admin }}', '{{ study._id }}');return false;" class="pull-right remove_admin_from_study_button">remove authorization</a>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="row">
            <h5>Authorize an additional researcher on this study:</h5>

            <div class="col-md-8">
                <select class="form-control" id="admin_id">
                    {% for admin in all_admins %}
                    <option value="{{ admin._id }}">{{ admin._id }}</option>
                    {% endfor %}
                </select>
                <input type="hidden" id="study_id" value="{{ study._id }}">
            </div>

            <div class="col-md-4">
                <button onclick="add_admin_to_study()" class="btn btn-info add_admin_to_study_button">Add researcher to study</button>
            </div>
        </div>
        <br><br><br>

        <div class="row">
            <h2>App settings</h2>
            <a href="/device_settings/{{ study._id }}">Edit the types of data this study collects and the wording that study participants see in the app</a>
        </div>
        <br><br><br>

        <div class="row">
            <h2>Rename study</h2>
            <form action="/rename_study/{{ study._id }}" method="post">
                <div class="col-md-10">
                    <input type="text" name="new_study_name" value="{{ study['name'] }}" class="form-control">
                </div>
                <div class="col-md-2">
                    <button class="btn btn-warning" type="submit">Update Name</button>
                </div>
            </form>
        </div>
        <br><br><br>

        <div class="row">
            <h2>Delete study</h2>
            <a class="btn btn-danger" onclick="confirm_delete_study('{{ study.name|replace("'", "")|replace('"', "") }}', '{{ study._id }}')">
            <span class="glyphicon glyphicon-trash"></span>&nbsp;Delete study</a>
        </div>

        <br><br><br><br>

    </div>

{% endblock %}