<!-- Modal for question addition/alteration-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Edit Question</h4>
      </div>
      <form id="questionForm" name="question">
      <div class="modal-body">

        <table>
          <tr>
            <td>Question Text:</td>
            <td><input type="text" id="text" name="question_text"></input></td>
          </tr>
          <tr>
            <td>Question Type:</td>
            <td><select id="type" name="type" onchange="setType()">
                <option value="1">Informational Text</option>
                <option value="2">Slider</option>
                <option value="3">Radio Button</option>
                <option value="4">Checkbox</option>
                <option value="5">Free Response</option>
                </select>
            </td>
          </tr>
          <tr id="min_value" style="display:none;">
            <td>Minimum Value:</td>
            <td><input type="number" id="valnum" name="min" min="0" max="100"></input></td>
          </tr>
          <tr id="max_value" style="display:none;">
            <td>Maximum Value:</td>
            <td><input type="number" id="defnum" name="max" min="1" max="100"></input></td>
          </tr>
          <tr id="answers" style="display:none;">
            <td>Answers:</td>
            <td><input type="text" id="anstxt" name="anstxt"></input></td>
          </tr>
          <tr id="text_field_type" style="display:none;">
            <td>Text Field Type:</td>
            <td><select id="tfttxt" name="text_field_type">
                <option value="1">Numeric</option>
                <option value="2">Single-line text</option>
                <option value="3">Multi-line text</option>
                </select>
            </td>
          </tr>
          <tbody id="fields_div" style="display:none;">
            <tr>
              <td>Fields:</td>
              <td id="fieldsDiv"><button type="button" onclick="addField()">Add new field</button></td>
              <!--<div><div id="fieldsDiv"></div><button type="button" onclick="addField()">Add new field</button></div>-->
            </tr>
          </tbody>
        </table>

        <input style="display:none;" id="oldName" name="oldName"></input>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" id="saveQuestion">Save</button>
      </div>
      </form>
    </div>
  </div>
</div>