{% extends "base.html" %}

{% block title %}Edit Researcher {{ admin.username }}{% endblock %}

{% block content %}

  <h3>Researcher {{ admin.username }}</h3>

  <br>

  <div class="col-md-6">
    <div class="row">
      <h4>Authorized studies</h4>
      <div class="list-group">
        {% if not current_studies %}
          <p><i>This researcher is not authorized on any studies.</i></p>
        {% endif %}

        {% for study in current_studies|sort(case_sensitive=False) %}
          <div class="list-group-item">
            <form action="/remove_researcher_from_study" method="post">
              <div class="form-inline">
                <b>{{ study.name }}</b>
                <div class="pull-right" style="margin-top: -6px">
                  <input type="hidden" name="study_id" value="{{ study.id }}"/>
                  <input type="hidden" name="researcher_id" value="{{ admin.id }}"/>
                  <input type="hidden" name="redirect_url" value="{{ redirect_url }}"/>
                  <button class="btn btn-link remove_researcher_from_study_button">Remove authorization</button>
                </div>
              </div>
            </form>
          </div>
        {% endfor %}
      </div>
    </div>

    <div class="row">
      <h5>Authorize this researcher on an additional study:</h5>
        <form action="/add_researcher_to_study" method="post">
          <div class="form-inline">
            <select class="form-control" name="study_id">
              {% for study in all_studies %}
                <option value="{{ study.id }}">{{ study.name }}</option>
              {% endfor %}
            </select>
            <input type="hidden" name="researcher_id" value="{{ admin.id }}"/>
            <input type="hidden" name="redirect_url" value="{{ redirect_url }}"/>
            <button type="submit" class="btn btn-info add_researcher_to_study_button">Add researcher to study</button>
          </div>
        </form>
    </div>

    <br><br><br><br>

    {% if not admin_is_current_user %}
    <div class="row">
      <h4>Reset Password</h4>
        <div class="well">
          <b>Passwords require all of the following:</b>
            <ul class="list">
              <li class="list-item">at least one lower case letter</li>
              <li class="list-item">at least one upper case letter</li>
              <li class="list-item">at least one numeric character</li>
              <li class="list-item">at least one special character (! @ # $ % ^ [ ] etc.)</li>
            </ul>
        </div>
        <form action="/set_researcher_password" method="post">
          <div class="form-inline">
            <input type="text" name="password" class="form-control">
            <input type="hidden" name="researcher_id" value="{{ admin.id }}">
            <input type="submit" class="btn btn-warning" value="Reset Password">
          </div>
        </form>
    </div>
    <br><br><br><br>
    {% endif %}

    <div class="row">
      <a href="/manage_researchers" class="btn btn-success"><span class="glyphicon glyphicon-arrow-left"></span>&nbsp;Back to all researchers</a>

      {% if not admin_is_current_user %}
        <a href="/delete_researcher/{{ admin.id }}" class="btn btn-danger pull-right" onclick="return confirm('Are you certain you want to delete {{ admin._id }}?  This cannot be undone.')"><span class="glyphicon glyphicon-trash"></span>&nbsp;Delete {{ admin._id }}</a>
      {% endif %}
    </div>
  </div>

{% endblock %}
