{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <script src="/static/javascript/search_filter.js" type="text/javascript"></script>
{% endblock %}

{% block title %}Manage Researchers{% endblock %}

{% block content %}

    <div class="row">
        <h3>All Researchers</h3>
    </div>

    <br>

    <div id="filterableList" ng-controller="FilterableListController" class="row">
        <div ng-init="filterable_admins = [
            {% for admin in admins %}
                {name: '{{admin[0]}}', studies: '{{admin[1]}}'},
            {% endfor %}
        ]"></div>

        {# Search/filter input field #}
        <div class="form-group col-sm-4">
            <input type="search" class="form-control" placeholder="Filter by username" ng-model="researcherFilterText" autofocus>
        </div>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th><h4>Username</h4></th>
                    <th><h4>Authorized Studies</h4></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="admin in filterable_admins | filter:{name: researcherFilterText}">
                    <td>
                        <b>{% raw %}{{ admin.name }}{% endraw %}</b>
                    </td>
                    <td>
                        <span ng-if="admin.studies.length == 0">
                            <i>This user is not authorized to view/edit any studies</i>
                        </span>
                        <span ng-if="admin.studies.length > 0">
                            <span>{% raw %}{{ admin.studies }}{% endraw %}</span>
                            <span ng-repeat="study_name in filtered_admin.studies">
                                {% raw %}{{ study_name }}{% endraw %} &nbsp; &nbsp;
                            </span>
                        </span>
                    </td>
                    <td>
                        <a href="/edit_admin/{% raw %}{{ admin.name }}{% endraw %}">edit researcher</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <br><br>

    <div class="row">
        <a href="/create_new_researcher" class="btn btn-success">Add new researcher</a>
    </div>

{% endblock %}