{% extends "base.html" %}

{% block title %}Manage Credentials{% endblock %}

{% block content %}
    <div class="container">

      <br>

      <div class="span-12">
        <h2>Reset Your Password</h2>

        <p><b>Don't forget your password!</b></p>
        <p>There is no automatic "Forgot Password" functionality for administrators, because we don't store administrators' email addresses.</p>
        <p><b>If you lose your password, you have to ask the administrator</b> who created your account to reset your password, or email <a href="mailto:msimoneau@hsph.harvard.edu">msimoneau@hsph.harvard.edu</a> to get your access restored.</p>
      </div>

      <br><br>

      <form action="/reset_admin_password" method="post" class="form-horizontal">
        <!-- Current password -->
        <div class="form-group">
          <label for="current_password" class="control-label col-xs-3">Current Password:</label>
          <div class="col-xs-6">
            <input type="password" name="current_password" id="current_password" class="form-control" placeholder="Current Password"></input>
          </div>
        </div>

        <!-- New password -->
        <div class="form-group">
          <label for="new_password" class="control-label col-xs-3">New Password:</label>
          <div class="col-xs-6">
            <input type="password" name="new_password" id="new_password" class="form-control" placeholder="New Password"></input>
          </div>
        </div>

        <!-- Confirm new password -->
        <div class="form-group">
          <label for="confirm_new_password" class="control-label col-xs-3">Confirm New Password:</label>
          <div class="col-xs-6">
            <input type="password" name="confirm_new_password" id="confirm_new_password" class="form-control" placeholder="Confirm New Password"></input>
          </div>
        </div>

        <br>

        <!-- Submit button -->
        <div class="form-group">
          <div class="col-xs-offset-3 col-xs-6">
            <button type="submit" class="btn btn-primary">Change Password</button>
          </div>
        </div>
      </form>

      <br><br><hr>

      <div class="span-12">
        <h2>Generate New Data-Download API Access Credentials</h2>

        <p><b>Warning: this will overwrite your current API access credentials</b> for the Data Download API!</p>
      </div>

      <br><br>

      <form action="/reset_download_api_credentials" method="post" class="form-horizontal">
        <!-- Submit button -->
        <div class="form-group">
          <div class="col-xs-offset-3 col-xs-6">
            <button type="submit" class="btn btn-warning" onclick="return confirm('Are you sure you want to reset your data-download API credentials? This will invalidate your current credentials (if you have them) and force you to use the new credentials.')">Reset Data-Download API Access Credentials</button>
          </div>
        </div>
      </form>

      <br><br>





    </div>

{% endblock %}