<script>navBarStudies = {{ allowed_studies|safe }}</script>
<script src="/static/javascript/app/survey-builder/controllers/nav-bar-study-controller.js"></script>
<nav class="navbar navbar-default">
    <div class="container-fluid">

        {# This "Open the navbar menu" toggle appears on narrow (mobile) screens when the rest of the navbar is hidden #}
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar-menu" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div id="main-navbar-menu" ng-controller="NavBarStudyController" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-left">
                {# If the current admin is authorized to view more than one study, give them a drop-down menu to switch studies #}
                <li ng-if="navBarStudies.length > 1" class="dropdown" role="presentation">
                    <a class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                      View study
                    <span class="caret"></span>
                    </a>
                    {# The dropdown menu is an AngularJS app that's searchable/filterable #}
                    <ul id="searchableStudyList" class="dropdown-menu dropdown-menu-left" aria-labelledby="dropdownMenu1">
                        {# Search/filter input field #}
                        <li class="dropdown_search_field">
                            <div class="form-group">
                                <input type="search" class="form-control" placeholder="Filter by study name" ng-model="searchText" ng-click="$event.stopPropagation()" autofocus>
                            </div>
                        </li>
                        {# Filtered list of studies #}
                        <li ng-repeat="study in navBarStudies | filter:{name: searchText}">
                            <a href="/view_study/{% raw %}{{ study.id }}{% endraw %}">{% raw %}{{ study.name }}{% endraw %}</a></li>
                        </li>
                    </ul>
                </li>
                {# If the current admin is authorized to view only one study, give them a "Home" button to view that study #}
                <li ng-if="navBarStudies.length <= 1" role="presentation"><a href="/choose_study">Home</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                {# Give the System Admin an extra link here to manage researchers #}
                {% if system_admin %}
                    <li role="presentation"><a href="/manage_researchers">Manage Researchers</a></li>
                    <li role="presentation"><a href="/manage_studies">Manage Studies</a></li>
                {% endif %}
                <li role="presentation">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        Download Data <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/data_access_web_form">Download Raw/Chunked Data</a></li>
                        <li><a href="/pipeline_access_web_form">Download Processed (Pipeline Output) Data</a></li>
                    </ul>
                </li>
                <li role="presentation"><a href="/downloads">App Download</a></li>
                <li role="presentation"><a href="/manage_credentials">Manage Credentials</a></li>
                <li role="presentation"><a href="/logout">Log Out</a></li>
            </ul>
        </div>
    </div>
</nav>