<!DOCTYPE html>
<html>
<head>
<title>Example</title>
<link rel="stylesheet" href="/static/css/phone-jqplot.css">
<script type="text/javascript" src="/static/javascript/jquery-1.11.1.js"></script>
<script type="text/javascript" src="/static/javascript/jqplot/jquery.jqplot.min.js"></script>
<script type="text/javascript" src="/static/javascript/jqplot/plugins/jqplot.canvasAxisLabelRenderer.min.js"></script>
<script type="text/javascript" src="/static/javascript/jqplot/plugins/jqplot.canvasTextRenderer.min.js"></script>
<script type="text/javascript" src="/static/javascript/graph.js"></script>
</head>
<body onload="steve()">
<div id="chart1" style="margin-top:20px; margin-left:20px; width:400px; height:300px;"></div>
<br>
<div style="margin-top:20px; margin-left:20px; width:400px; height:300px;">
<h3> This is where the buttons for other questions go! </h3>

</div>
</body>
</html>