<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title> Zagaran Mobile Data Collection System for HSPH</title>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css"  type="text/css"/>
</head>

<body>
<div class="container">
    <div class="span12">
        <h3>Question 1</h3>
        <form>
            <ul class="list-group">
                <li class="list-group-item">
                    Question Type: &nbsp;&nbsp;
                    <select>
                        <option value="info_text_box">Informational Text Box</option>
                        <option value="slider">Slider Question</option>
                        <option value="radio_button">Radio Button Question</option>
                        <option value="checkbox">Checkbox Question</option>
                        <option value="free_response">Open-Response Question</option>
                    </select>
                </li>
                <li class="list-group-item">
                    Question Text: &nbsp;&nbsp;
                    <input type="text" name="question_text">
                </li>
                <li class="list-group-item">
                    Question Answer: &nbsp;&nbsp;
                </li>
            </ul>
        </form>
    </div>
</div>
<footer class="section">
    <div class="container">
        <h5 style='text-align:center'><strong>Contact:</strong> <a href="mailto:sys@zagaran.com">sys@zagaran.com</a></h5>
        <p style='text-align:center' class="row center">&copy; 2014 Zagaran Software, Inc.</p>
    </div>
</footer>
</body>
</html>
