{% extends "base.html" %}

{% block title %}Reset Password{% endblock %}

{% block content %}
    <div class="container">

      <br>

      <div class="span-12">
        <h2>Reset Your Password</h2>

        <br>

        <p><b>Don't forget your password!</b></p>
        <p>There is no automatic "Forgot Password" functionality for administrators, because we don't store administrators' email addresses.</p>
        <p><b>If you lose your password, you have to email <a href="mailto:sys@zagaran.com">sys@zagaran.com</a> to get your access restored.</b></p>
      </div>

      <br><br>

      <form action="/reset_admin_password" method="post" class="form-horizontal">
        <!-- Current password -->
        <div class="form-group">
          <label for="current_password" class="control-label col-xs-3">Current Password:</label>
          <div class="col-xs-6">
            <input type="password" name="current_password" id="current_password" class="form-control" placeholder="Current Password"></input>
          </div>
        </div>

        <!-- New password -->
        <div class="form-group">
          <label for="new_password" class="control-label col-xs-3">New Password:</label>
          <div class="col-xs-6">
            <input type="password" name="new_password" id="new_password" class="form-control" placeholder="New Password"></input>
          </div>
        </div>

        <!-- Confirm new password -->
        <div class="form-group">
          <label for="confirm_new_password" class="control-label col-xs-3">Confirm New Password:</label>
          <div class="col-xs-6">
            <input type="password" name="confirm_new_password" id="confirm_new_password" class="form-control" placeholder="Confirm New Password"></input>
          </div>
        </div>

        <br>

        <!-- Submit button -->
        <div class="form-group">
          <div class="col-xs-offset-3 col-xs-6">
            <button type="submit" class="btn btn-primary">Change Password</button>
          </div>
        </div>
      </form>

      <br><br><br>

    </div>

{% endblock %}