<style>
.popup_table, .popup_table th, .popup_table td { border: 1px solid black; padding: 2px; }
</style>

<table class="popup_table" id="upload_details" style="border: 1px solid black;">
  <thead>
    <tr>
      <th>Date</th>
      {% for feature,color in checkables %}
      <th>{{ feature }}</th>
      {% endfor %}
    </tr>
  </thead>

  {% for date in dates %}
    <tr>
      <td>{{date}}</td>
      {% set info = upinfo[date] %}
      {% for feature,color in checkables %}
        <td>
          {{ (info[feature] if info[feature] else '<font color="%s">%s</font>'%(color, info[feature]))|safe }}
        </td>
      {% endfor %}
    </tr>
  {% endfor %}

</table>
