{% extends "base.html" %}

{% block title %}View Study{% endblock %}

{% block content %}

    <div class="container">
      <div class="span12">
        <div class="row">
        </div>
        <div class="row">
          <h2>{{ study_name }}</h2>

        </div>
      </div>

      <div class="span12">
        <div class="row">
          <h3>Patients</h3>
        </div>

        <table class="table" id="patients_list">
          <thead>
            <tr>
              <th>Patient ID</th>
              <th>Phone registered</th>
              <th>Phone OS</th>
              <th>Reset password</th>
            </tr>
          </thead>
          <tbody id="users-table-body">

            {% for patient in patients %}
              <tr>
                <td>
                  <b>{{ patient.patient_id }}</b>
                </td>
                <td>
                  {% if patient.device_id %}
                    <form action="/reset_device" method="post">
                      <div class="form-inline">
                        <input type="hidden" name="patient_id" value="{{ patient.patient_id }}">
                        <input type="hidden" name="study_id" value="{{ study.id }}">
                        <button type="submit" class="btn btn-warning btn-sm reset_device_button">Un-Register Smartphone</button>
                      </div>
                    </form>
                  {% else %}
                    No smartphone registered
                  {% endif %}
                </td>
                <td>
                  {% if patient.os_type %}
                    {{ patient.os_type }}
                  {% else %}
                    <i>unknown</i>
                  {% endif %}
                </td>
                <td>
                  <form action="/reset_participant_password" method="post">
                    <div class="form-inline">
                      <input type="hidden" name="patient_id" value="{{ patient.patient_id }}">
                      <input type="hidden" name="study_id" value="{{ study.id }}">
                      <button type="submit" class="btn btn-warning btn-sm reset_password_button">Reset password</button>
                    </div>
                  </form>
                </td>
              </tr>
            {% endfor %}

          </tbody>
        </table>

        <form action="/create_new_patient" method="post">
          <div class="form-inline pull-left">
            <input type="hidden" name="study_id" value="{{ study.id }}">
            <button type="submit" class="btn btn-primary add_new_patient_button">Add new patient</button>
          </div>
        </form>

        <button type="button" class="btn btn-warning add_many_patients_button" data-toggle="modal" data-target="#addManyPatientsModal" title="Enable a number of new patients to enroll in {{ study_name }}: download a file of new Patient IDs and registration passwords">Add many new patients</button>
        {% include 'create_many_patients_modal.html' %}

        <br/><hr><br/>

        <div class="row">
          <h3>Surveys</h3>

          <div class="list-group">
            {# If there are surveys attached to this study, list them #}
            {% if tracking_survey_ids %}
              {% for survey_id in tracking_survey_ids %}
                <h4><a href="/edit_survey/{{survey_id}}" class="list-group-item">Survey ID #{{survey_id}}</a></h4>
              {% endfor %}
            {# If there aren't surveys attached to this study, show a message saying "no surveys" #}
            {% else %}
              <p><b>This study does not have any surveys.</b></p>
            {% endif %}
          </div>

          {# TODO: Josh, make this pass in the study ID #}
          <a href="/create_survey/{{ study.id }}/tracking_survey" class="btn btn-info">Create new survey</a>
        </div>

        <div class="row">
          <h3>Audio Surveys</h3>

          <div class="list-group">
            {# If there are surveys attached to this study, list them #}
            {% if audio_survey_ids %}
              {% for survey_id in audio_survey_ids %}
                <h4><a href="/edit_survey/{{survey_id}}" class="list-group-item">Audio Survey ID #{{survey_id}}</a></h4>
              {% endfor %}
            {# If there aren't surveys attached to this study, show a message saying "no surveys" #}
            {% else %}
              <p><b>This study does not have any audio surveys.</b></p>
            {% endif %}
          </div>
          <a href="/create_survey/{{ study.id }}/audio_survey" class="btn btn-info">Create new <b>audio survey</b></a>
        </div>

        <div class="row">
            <h3>App settings</h3>
            <p><a href="/device_settings/{{ study['id'] }}">View the types of data this study collects and the wording that study participants see in the app</a></p>
        </div>

      </div>
    </div>

{% endblock %}
