{% extends "base.html" %}

{% block title %}View Study{% endblock %}

{% block content %}

    <div class="container">
      <div class="span12">
        <div class="row">
        </div>
        <div class="row">
          <h2>{{ study_name }}</h2>

        </div>
      </div>

      <div class="span12">
        <div class="row">
          <h3>Patients</h3>
        </div>

        <table class="table" id="patients_list">
          <thead>
            <tr>
              <th>Patient ID</th>
              <th>Phone registered</th>
              <th>Reset password</th>
            </tr>
          </thead>
          <tbody id="users-table-body">

            {% for patient in patients %}
              <tr>
                <td>
                  <b>{{patient}}</b>
                </td>
                <td>
                  {% if patients[patient]['has_device'] %}
                    <button type="button" class="btn btn-warning btn-sm" onclick="reset_device('{{patient}}')" >Un-Register Smartphone</button>
                  {% else %}
                    No smartphone registered
                  {% endif %}
                </td>
                <td>
                  <button type="button" class="btn btn-warning btn-sm" onclick="reset_patient_password('{{patient}}')" >Reset Password</button>
                </td>
              </tr>
            {% endfor %}

          </tbody>
        </table>
        <button type="button" class="btn btn-primary" onclick="create_new_patient('{{ study._id }}')">Add New Patient</button>

        </br></br>

        <div class="row">
          <h3>Surveys</h3>
        </div>

        <div class="list-group">
          {# If there are surveys attached to this study, list them #}
          {% if survey_ids %}
            {% for survey_id in survey_ids %}
              <h4><a href="/edit_survey/{{survey_id}}" class="list-group-item">Survey ID #{{survey_id}}</a></h4>
            {% endfor %}
          {# If there aren't surveys attached to this study, show a message saying "no surveys" #}
          {% else %}
            <p><b>This study does not have any surveys.</b></p>
          {% endif %}
        </div>

        <div class="row">
          {# TODO: Josh, make this pass in the study ID #}
          <a href="/create_survey/{{ study._id }}" class="btn btn-info">Create new survey</a>
        </div>

      </div>
    </div>

    {% endblock %}