<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title> Zagaran Mobile Data Collection System for HSPH</title>
    <script src="../static/javascript/surveys.js"></script>
    <script src="../static/javascript/jquery-1.11.1.js"></script>
    <script src="../static/javascript/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css"  type="text/css"/>
    <link rel="stylesheet" href="../static/css/survey_builder.css"  type="text/css"/>
</head>

<body>
<div class="container">
    <div class="span12">
        <div class="row">
            <h1>Weekly Survey</h1>
        </div>

    <!--Select date and time for survey deployment-->
    <form id="survey" name="survey" action="/update_weekly" method="POST">
    Schedule Deployment Time:
    <select id="hour" name="hour">
    {% for i in range(1, 13) %}
        <option value="{{ i }}">{{ i }}:00</option>
    {% endfor %}
    </select>
    <select id="ampm" name="ampm">
        <option value="am">AM</option>
        <option value="pm">PM</option>
    </select>
    <select id="day" name="day">
        <option value="monday">Monday</option>
        <option value="tuesday">Tuesday</option>
        <option value="wednesday">Wednesday</option>
        <option value="thursday">Thursday</option>
        <option value="friday">Friday</option>
        <option value="saturday">Saturday</option>
        <option value="sunday">Sunday</option>
    </select>
    <br>

    <!--Display existing questions-->
    {% for c in questions %}
        <div id="{{ c._name }}" class="row">
            <h3 id="{{ c._name }}name">{{ c._name }}</h3>
            <p>Question type: <div id="{{ c._name }}type">{{ c._type }}</div></p>
            <p>Question text: <div id="{{ c._name }}text">{{ c._text }}</div></p>
            <input type="text" style="display:none;" name="{{ c._name }}" value="{{ c._name }}"></input>
            <input type="text" style="display:none;" name="{{ c._name }}type" value="{{ c._type }}"></input>
            <input type="text" style="display:none;" name="{{ c._name }}text" value="{{ c._text }}"></input>
            {% if c._type == "slider" %}
            <p>Slider range: <div id="{{ c._name }}range">{{ c._range }}</div>; default: <div id="{{ c._name }}default">{{ c._default }}</div></p>
            <input type="text" style="display:none;" name="{{ c._name }}range" value="{{ c._range }}"></input>
            <input type="text" style="display:none;" name="{{ c._name }}default" value="{{ c._default }}"></input>
            {% elif c._type == "radio_button" or c._type == "checkbox" %}
            <p>Answers:
            <div id="{{ c._name }}answers">{{ c._answers }}</div>
            <input type="text" style="display:none;" name="{{ c._name }}answers" value="{{ c._answers }}"></input>
            </p>
            {% elif c._type == "free_response" %}
            <p>Text Field Type: <div id="{{ c._name }}tft">{{ c._text_field_type }}</div></p>
            <input type="text" style="display:none;" name="{{ c._name }}tft" value="{{ c._text_field_type }}"></input>
            {% endif %}
            <p>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" onclick="setModal('{{ c._name }}'); return false;">Edit</button>
                <button type="button" class="btn btn-primary" onclick="deleteQuestion('{{ c._name }}'); return false;">Delete</button>
            </p>
        </div>
    {% endfor %}
    <br>

    <!--New questions get added here-->
    <div id="newQuestions">
    </div>
    <br>

    <!--This button adds questions-->
    <div class="row">
        <button type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target="#myModal" onclick="clearModal(); return false;">
        <span class="glyphicon glyphicon-plus"></span>Add Question
        </button>
    </div>
    <br>

    <!--This button submits the form-->
    <div class="row">
        <button type="button" class="btn btn-default btn-lg" onclick="end(); return false;">
        <span class="glyphicon glyphicon-upload"></span>Save & Deploy
        </button>
    </div>
    </form>
    </div>
</div>

{% include 'edit_question.html' %}

<footer class="section">
    <div class="container">
        <h5 style='text-align:center'><strong>Contact:</strong> <a href="mailto:sys@zagaran.com">sys@zagaran.com</a></h5>
        <p style='text-align:center' class="row center">&copy; 2014 Zagaran Software, Inc.</p>
    </div>
</footer>
</body>
</html>
